<div>
    <app-navbar></app-navbar>

    <section class="skills">
        <h1 class="heading">Our <span>Service</span></h1>
        <div class="skill-row">
            <img class="left-img"
                src="https://img.freepik.com/premium-vector/cardiology-cardiologist-examine-human-heart-doctor-treat-heart-disease-check-patient-heartbeat-pulse-with-cardiogram-diagnosis-stroke_284092-2695.jpg?w=2000"
                alt="skill_img">
            <h3>Cardiology</h3>
            <p>Lorem ipsum dolor sit amet, quis in duis, iaculis id felis. Consectetuer vestibulum, nunc urna lectus,
                erat
                ligula. Hendrerit nam, lectus ante, ut lorem eros.</p>
            <a href="#" class="btn btn-outline-info"> Read More <span></span></a>
        </div>
        <hr>
        <div class="skill-row">
            <img class="right-img"
                src="https://img.freepik.com/free-vector/orthopedics-doctor-idea-joint-bone-treatment-human-anatomy-bone-structure-vector-illustration-cartoon-style_613284-388.jpg"
                alt="teamWork_img">
            <h3>Orthopedics</h3>
            <p>Lorem ipsum dolor sit amet, mauris sed consectetuer. Etiam et eu, bibendum interdum, lacus quis mauris.
                Curabitur wisi, quisque vel eu, rutrum nam.</p>
            <a href="#" class="btn btn-outline-info"> Read More <span></span></a>
        </div>
        <hr>
        <div class="skill-row">
            <img class="left-img"
                src="https://img.freepik.com/free-vector/illustrated-medical-stickers-set_23-2148967488.jpg?w=2000"
                alt="skill_img">
            <h3>genral Medicine</h3>
            <p>Lorem ipsum dolor sit amet, quis in duis, iaculis id felis. Consectetuer vestibulum, nunc urna lectus,
                erat
                ligula. Hendrerit nam, lectus ante, ut lorem eros.</p>
            <a href="#" class="btn btn-outline-info"> Read More <span></span></a>
        </div>
        <hr>
        <div class="skill-row">
            <img class="right-img"
                src="https://img.freepik.com/free-vector/gynecology-consultation-illustration_23-2148653151.jpg"
                alt="teamWork_img">
            <h3>Obstetrics and Gynaecology</h3>
            <p>Lorem ipsum dolor sit amet, mauris sed consectetuer. Etiam et eu, bibendum interdum, lacus quis mauris.
                Curabitur wisi, quisque vel eu, rutrum nam.</p>
            <a href="#" class="btn btn-outline-info"> Read More <span></span></a>
        </div>
        <hr>
        <div class="skill-row">
            <img class="left-img"
                src="https://img.freepik.com/free-vector/neurologist-concept-doctor-examine-human-brain-idea-doctor-caring-about-patient-health-medical-mri-diagnosis-consultation-vector-illustration-cartoon-style_613284-2421.jpg"
                alt="skill_img">
            <h3>Neurology</h3>
            <p>Lorem ipsum dolor sit amet, quis in duis, iaculis id felis. Consectetuer vestibulum, nunc urna lectus,
                erat
                ligula. Hendrerit nam, lectus ante, ut lorem eros.</p>
            <a href="#" class="btn btn-outline-info"> Read More <span></span></a>
        </div>
        <hr>
        <div class="skill-row">
            <img class="right-img"
                src="https://img.freepik.com/premium-vector/annual-pediatric-visit-2d-vector-isolated-illustration_151150-5881.jpg?w=2000"
                alt="teamWork_img">
            <h3>Pediatrics</h3>
            <p>Lorem ipsum dolor sit amet, mauris sed consectetuer. Etiam et eu, bibendum interdum, lacus quis mauris.
                Curabitur wisi, quisque vel eu, rutrum nam.</p>
            <a href="#" class="btn btn-outline-info"> Read More <span></span></a>
        </div>
    </section>
    <hr>


    <app-footer></app-footer>
</div>