<app-navbar></app-navbar>

<div class="wrapper">
    <div class="title-text">
        <h1 class="title login ">Forgot/Reset Password</h1>
    </div>
    <div *ngIf="showmsg" class=" alert alert-danger alert-dismissible fade show" role="alert">
        <strong class="pd-alert">Sorry!</strong>Email is not registered 😰
        <button (click)="closeAlert()" type="button" class="btn-close" aria-label="Close"></button>
     </div>
     <div *ngIf="showsuccess" class=" alert alert-success alert-dismissible fade show" role="alert">
        <strong class="pd-alert">Got You!</strong>Welcome Partner 😃
        <button (click)="closeAlert()" type="button" class="btn-close" aria-label="Close"></button>
     </div>
    <h3 class="reg-email">Please Enter Your Register Email</h3>
    <div class="form-container">
        <div class="form-inner">
            <form  name="loginform" #f="ngForm" class="login" (ngSubmit)="submitForm()" novalidate>
                <div class="field">
                    <input type="text" class="form-control"   id="InputEmail"
                        placeholder="Email Address" name="email" [(ngModel)]="patientobj.email" required #email="ngModel"
                        [ngClass]="{ 'is-invalid': f.submitted && email.errors }">
                </div>
                <div class="field btn">
                    <div class="btn-layer"></div>
                    <input type="submit" value="Confirm" class="form-control" id="InputSubmit">
                </div>
                
            </form>
        </div>
    </div>
</div>
<app-footer></app-footer>